@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Arial:100,400,700);

form { max-width:420px; margin:0px auto; }

.feedback-input {
  color:white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:100;
  font-size: 18px;
  line-height: 22px;
  background-color: transparent;
  border:1px solid #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:1px solid rgb(255, 187, 0); }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

[type="submit"] {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  background: rgba(0,0,0,0);
  border:1px solid #fff;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:100;
}

[type="submit"]:hover { background:#fff; color:crimson; }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: Arial;
    color: white;
    opacity: 1; /* Firefox */
    font-weight: 100 !important;
  }










.select {
    background-color: rgba(0,0,0,0);
    border: 1px solid #fff;
    color: white;
    font-size: 18px;
    line-height: 22px;
    padding: 13px;
    margin-bottom: 15px;
}






  